# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr
build
coverage

# Frameworks
.output
.vinxi
.tanstack/**
.nitro
.next
.nuxt
.vercel

# Environment
.env
.env.*
!.env.example
*.local

# Cache
.cache
.parcel-cache
.eslintcache
*.tsbuildinfo

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
tmp
temp
*.tmp